<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px; /* Margin bottom by footer height */
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Set the fixed height of the footer here */
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }

        .container {
            width: 100%;
            padding: 0 15px;
        }
    </style>
    <title>Weather Station</title>
</head>
<body>
<div class="Row">
    <h1 class="display-1 text-center">Weather Station 1.0</h1>
</div>
<div class="row mt-3">
    <div class="col-md-8">
        <canvas id="myChart"></canvas>
    </div>
    <div class="col-md-3">
        <h3 class="h3">What is this graph?</h3>
        <div class="text-justified">This project is designed to show the world how terrible our insulation is in our
            house.
            We are using a thermistor (an electrical resistor whose resistance is greatly reduced by heating) to measure
            the inside temperature, and using
            <a href="https://openweathermap.org">Open Weather Map</a> to pull the data every 5 minutes. That data gets
            stored into a sqlite3 database by sending the data from the Raspberry Pi to a VPS (Virtual Private Server) via
            a cURL call. Then, the website browser pulls the data via an AJAX call, and pushes the data into these graphs.
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <canvas id="minMaxBarChart"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <canvas id="avgBarChart"></canvas>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.6.3/chartjs-plugin-zoom.js"></script>
<script>
    moment().format();
</script>
<script>
    let api = [];
    let home = [];
    let labels = [];
    let data;
    let chart;

    let barlabels = [];
    let minapitemp = [];
    let maxapitemp = [];
    let avgapitemp = [];
    let minhometemp = [];
    let maxhometemp = [];
    let avghometemp = [];
    let minmaxdata;
    var timeFormat = 'MM/DD/YYYY HH:mm';
    $.ajax({
            url: '/api/label',
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (result) {
                barlabels = result;
                mixMaxBarChart
            }
        }
    );
    $.ajax({

        url: '/api/get',
        type: 'GET',
        dataType: 'json',
        success: function (result) {
            for (x in result) {
                data = result;
                console.log(result[x]);
                api.push(
                    {
                        'x': new moment(result[x]["date"]),
                        'y': result[x]['apitemp'] * 1.8 + 32
                    }
                );
                home.push(
                    {
                        'x': new moment(result[x]["date"]),
                        'y': result[x]['hometemp'] * 1.8 + 32
                    }
                )

            }
            var ctx = $('#myChart')[0].getContext('2d');
            chart = new Chart(ctx, {
                type: 'line',
                data: {
//                    labels: labels,
                    datasets: [{
                        label: "Outside",
                        //backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: api
                    }, {
                        label: "Inside",
                        //backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(0, 99, 132)',
                        data: home
                    }]
                },
                options: {
                    /*                  scales: {
                                          xAxes: [{
                                              type: "time",
                                              display: true,
                                              unit: 'hour',
                                              distribution: 'series'
                                          }]
                                      },*/
                    responsive: true,
                    title: {
                        display: true,
                        text: "Temperature Inside/Outside My House"
                    },
                    scales: {
                        xAxes: [{
                            type: "time",
                            scaleLabel: {
                                display: true,
                                labelString: 'Date'
                            },
                            /*time: {
                                format: "HH",
                                unit: 'hour',
                                unitStepSize: 2,
                            }*/
                        },],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Temp in Fahrenheit'
                            }
                        }]
                    },
                    zoom: {
                        enabled: true,
                        mode: 'x',
                    },
                    pan: {
                        enabled: true,
                        mode: 'x'
                    }
                }


            });
            window.myLine = chart;
        },
        error: function (request, error) {
            alert("Request: " + JSON.stringify(request));
        }
    });
    $.ajax({

        url: '/api/getavg',
        type: 'GET',
        dataType: 'json',
        success: function (result) {
            for (x in result) {
                data = result;
                console.warn(result[x]);
                minapitemp.push(result[x]['minapitemp'] * 1.8 + 32);
                maxapitemp.push(result[x]['maxapitemp'] * 1.8 + 32);
                avgapitemp.push(result[x]['avgapitemp'] * 1.8 + 32);
                minhometemp.push(result[x]['minhometemp'] * 1.8 + 32);
                maxhometemp.push(result[x]['maxhometemp'] * 1.8 + 32);
                avghometemp.push(result[x]['avghometemp'] * 1.8 + 32);
            }
            minmaxdata = {
                labels: barlabels,
                datasets: [
                    {
                        label: "Inside Min Temp",
                        backgroundColor: "#74cdf4",
                        data: minhometemp
                    },
                    {
                        label: "Inside Max Temp",
                        backgroundColor: "#f49497",
                        data: maxhometemp
                    },
                    {
                        label: "Outside Min Temp",
                        backgroundColor: '#4759f4',
                        data: minapitemp
                    },
                    {
                        label: "Outside Max Temp",
                        backgroundColor: "#f43941",
                        data: maxapitemp
                    }
                ]
            };

            let minmaxctx = $('#minMaxBarChart')[0].getContext('2d');
            let minMaxBarChart = new Chart(minmaxctx, {
                type: 'bar',
                data: minmaxdata,
                options: {
                    title: {
                        display: true,
                        text: "Min Temp. vs Max Temp. per hr of All Data"
                    },
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                            }
                        }]
                    }
                }
            });

            avgdata = {
                labels: barlabels,
                datasets: [
                    {
                        label: "Inside Average Temp",
                        backgroundColor: "#474cff",
                        data: avghometemp
                    },
                    {
                        label: "Outside Average Temp",
                        backgroundColor: "#f43941",
                        data: avgapitemp
                    }
                ]
            };

            let avgctx = $('#avgBarChart')[0].getContext('2d');


            let avgBarChart = new Chart(avgctx, {
                type: 'bar',
                data: avgdata,
                options: {
                    title: {
                        display: true,
                        text: "Average temperature per hr. Over All Data"
                    },
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                            }
                        }]
                    }
                }
            });
        }
    });

</script>

<footer class="footer">
    <div class="container"><p class="text-right font-weight-light font-italic"> Marcus Mann 2018</p>
    </div>
</footer>
</body>
</html>